.buttons {
	padding: 5px 25px;
	position: absolute;
	width: 90%;
	margin: auto;
	bottom: 0;
	left: 5%;
	clear: both;
	border-top: 2px #72888F solid;
}

.buttons button:nth-child(1) {
}

.buttons button:nth-child(2) {
  float: right;
}

