.lessonEditor {

}

.emptyPanelItem {
  composes: slide from '../Slide.css';
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/add_slide.png");
}
