.slide {
  width: 640px;
  height: 420px;
  border: 2px #72888F solid;
  padding: 15px;
  -webkit-box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.3);
  background: whitesmoke;
  overflow: hidden;
  .title {
    margin-top: 0;
    padding-top: 0;
    font-size: 30px;
  }
  .image {
    margin-top:100px;
    float: right;
    width: 150px;
    height: 150px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .text {
      height: 340px;
                  
  }
}

:global {
	.quill {	
		.quill-toolbar.ql-toolbar.ql-snow {
			padding: 0;
		}	
		.quill-contents.ql-container.ql-snow {
			  height: 300px;			  
			  overflow-y: auto;
			  padding-bottom: 5px;
		}
	}
}