.button {
  height: 40px;
  width: 120px;
  font-weight: bold;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid #72888F;
  border-radius: 4px;
  text-align: center;
}

.button:hover {
  color: #FFF;
  background-color: #72888F;
}

.button:active {
  background-color: #666;
}