.lessonCard{
	border: 0;
}

.buttons {
	padding: 0 10px;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.buttons:nth-child(1) {
  margin-left: 5px;
}

.buttons:nth-child(2) {
  float: right;
  margin-right: 5px;
}

.button {
	composes: button from '../stylesheets/button.css'
}

