.lessonEditor {

}

.lessonInfo {
	border: 2px #72888F solid;
	margin: 5px auto;
	max-width: 60%;
	padding: 15px;
	-webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.3);
}
.left {
 float: left;
}
.right {
  float: left;
}

/*.left {*/
  /*display: inline;*/
/*}*/

/*.left > h1 {*/
	/*display: inline;*/
/*}*/

/*.left > label,*/
/*.left > input {*/
	/*display: block;*/
/*}*/

/*.left > label {*/
	/*margin-bottom: 2px;*/
	/*margin-top: 10px;*/
	/*font-weight: bold;*/
/*}*/

/*.left > input {*/
	/*border-top: 0;*/
	/*border-left: 0;*/
	/*border-right: 0;*/
/*}*/

/*.right {*/
  /*display: inline;*/
/*}*/

/*.right > label {*/
  /*margin-bottom: 2px;*/
  /*margin-top: 10px;*/
  /*font-weight: bold;*/
/*}*/

/*.right > button {*/
  /*float: right;*/
/*}*/
